.form1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: var(--border-radius);
    width: auto;
    height: auto;
    padding: 2rem;
    transform: scale(1);
    border: 1px solid var(--primary-clr);


}
.form1 input{
    padding: 1rem;
    width: auto;
    color: var(--primary-clr);
    outline: none;
    border-radius: var(--border-radius);
    width: 100%;
    border: 1px solid var(--primary-clr);
    flex-wrap: wrap;
}
.form1 select{
    padding: 1rem;
    width: auto;
    color: var(--primary-clr);
    outline: none;
    border-radius: var(--border-radius);
    width: 100%;
    border: 1px solid var(--primary-clr);
    flex-wrap: wrap;
}
a{
    color: #fff;
}
.grid_col{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;



}
.registration-input{
    width: auto;
}